<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
</head>

<body>
<div class="bd">
    {#    <div class="weui_cells_title">图表测试区域</div>#}
    {#    <div class="chart_cells">#}
    {#        <div class="chart_cell" id="itoms_test" style="height: 800px"></div>#}
    {#    </div>#}
    <div class="chart_cells">
        <div class="chart_cell" id="itoms_chg_emgc"></div>
    </div>

    <div class="chart_cells">
        <div class="chart_cell" id="itoms_xbank">
            {#        <div id="itoms_chg" style="width:  auto;height:400px;"> </div>#}
        </div>
    </div>

    <div class="chart_cells">
        <div class="chart_cell" id="itoms_chg"></div>
    </div>

    <div class="chart_cells" style="height: 50px">
    </div>

</div>
<script src="/static/js/chart_itoms.js"></script>
</body>
</html>

