<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>报表测试</title>

    <!--<script src="/static/js/vconsole.min.js"></script>-->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery.mobile-1.4.5.min.js"></script>
    <!--<script src="/static/js/zepto.min.js"></script>-->
    <script src="/static/js/echarts.min.js"></script>
    <!--<script src="/static/js/router.min.js"></script>-->
</head>
<body>
<link rel="stylesheet" href="/static/css/weui.min.css"/>
<link rel="stylesheet" href="/static/css/chart_weui.css"/>
<link rel="stylesheet" href="/static/css/jquery.mobile-1.4.5.min.css">

<div  id="pagediv">
<div data-role="page" id="pageone">
    <div data-role="content" id="muti_test">
        <p>Welcome!</p>
        <a href="/demo/tryjqmob_pages.htm#pagetwo">Go to Page Two</a>
    </div>
</div>
<div data-role="page" id="pagetwo">
    <div data-role="content">
        <p>Goodbye!</p>
        <a href="/demo/tryjqmob_pages.htm#pageone">Go to Page One</a>
    </div>
</div>
</div>

</body>
</html>