<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <!--<div data-role="footer" data-position="fixed" data-fullscreen="true">-->
    <div data-role="footer" data-position="fixed">
        <div class="weui_tabbar">
            <!--itoms use one page method-->
            <a href="/chart_itoms.html" class="weui_tabbar_item weui_bar_item_on" id="tabbar_itoms" data-ajax="true">
                <div class="weui_tabbar_icon">
                    <img src="/static/images/icon_nav_button.png" alt="">
                </div>
                <p class="weui_tabbar_label">工单统计</p>
            </a>
            <!--patrol use another page method-->
            <a href="/chart_patrol.html" class="weui_tabbar_item" id="tabbar_patrol" data-ajax="true">
                <div class="weui_tabbar_icon">
                    <img src="/static/images/icon_nav_msg.png" alt="">
                </div>
                <p class="weui_tabbar_label">系统监控</p>
            </a>
            <a href="/chart_suggest" class="weui_tabbar_item" id="tabbar_suggest">
                <div class="weui_tabbar_icon">
                    <img src="/static/images/icon_nav_article.png" alt="">
                </div>
                <p class="weui_tabbar_label">优化建议</p>
            </a>
            <a hrep="/chart_busi" class="weui_tabbar_item" id="tabbar_busi">
                <div class="weui_tabbar_icon">
                    <img src="/static/images/icon_nav_cell.png" alt="">
                </div>
                <p class="weui_tabbar_label">业务分析</p>
            </a>
        </div>
    </div>
</div>
</body>
</html>